<div class="middle_bar">
	<div class="panel_top">
		<h2 class="settings_heading" data-bind="i18n: {'key': 'COREUSERGROUPS/HEADING_SETTINGS_TAB_USERGROUPS'}"></h2>
	</div>
	<div class="panel_center">
		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="value">
						<select class="input" data-bind="value: selectedGroupId, options: groups, optionsText: 'text', optionsValue: 'value', 
								optionsAfterRender: function(option, item) { ko.applyBindingsToNode(option, {disable: item.disabled}, item); }"></select>
					</span>
				</div>
				<!-- ko if: selectedGroupId() !== 0 -->
				<div class="row hint">
					<span class="value" data-bind="i18n: {'key': '%MODULENAME%/HINT_USER_GROUP_LIMITS'}, visible: !isCustomGroup()"></span>
					<span class="value" data-bind="i18n: {'key': '%MODULENAME%/HINT_USER_CUSTOM_GROUP_LIMITS'}, visible: isCustomGroup"></span>
				</div>
				<div class="row row_top_border">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MAIL_QUOTA_MB'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: mailQuotaMb, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row row_bottom_border">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FILES_QUOTA_MB'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: filesQuotaMb, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_EMAIL_SEND_LIMIT_PER_DAY'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: emailSendLimitPerDay, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MAIL_SIGNATURE'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: mailSignature, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MAX_ACTIVE_ALIAS_COUNT'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: maxAllowedActiveAliasCount, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row row_bottom_border">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ALIAS_CREATION_INTERVAL_DAYS'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: aliasCreationIntervalDays, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="value">
						<label class="custom_checkbox" data-bind="css: {'checked': allowMobileApps, 'disabled': !isCustomGroup()}">
							<span class="icon"></span>
							<input type="checkbox" id="allowMobileApps" data-bind="checked: allowMobileApps, enable: isCustomGroup" />
						</label>
						<label for="allowMobileApps" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ALLOW_MOBILE_APPS'}"></label>
					</span>
				</div>
<!--				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_BANNER_URL_MOBILE'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: bannerUrlMobile, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_BANNER_URL_DESKTOP'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: bannerUrlDesktop, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_BANNER_LINK'}"></span>
					<span class="value">
						<input class="input" type="text" data-bind="value: bannerLink, valueUpdate: 'afterkeydown', 
							onEnter: function () { saveEntity($parents, $root); }, enable: isCustomGroup,
							css: { 'disabled': !isCustomGroup() }" />
					</span>
				</div>-->
				<!-- /ko -->
			</div>

			<div class="buttons">
				<span class="button" data-bind="click: updateUserGroup, visible: !isSaving()">
					<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
				</span>
				<span class="button" data-bind="visible: isSaving()">
					<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
				</span>
			</div>
		</div>
	</div>
</div>
